/* base css */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.site-nav{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    gap: 50px;
    background-color: #f0eee9;
    transition: background-color 2s ease;
    border-right: 3px dashed #4c3500;
    box-shadow: 2px 0 10px rgba(96, 66, 7, 0.421);
}

.site-nav:hover{
    background-color: #eae3d3;
}
